<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>Upload your picture („• ᴗ •„)</h1>
    <form action="/upload/{{ .FileID }}/{{ .Username }}/{{ .Room }}" method="post" enctype="multipart/form-data">
        <input type="file" id="input-file" name="filename">
        <input type="submit">
    </form>
    <div class="file-limit">Max file size: {{ .MaxFileSize }}.</div>
</body>
</html>

